<div id="general-page">
<main class="about-content">
  <section class="page-header about-header">
    <div class="content-container">
      <h1 class="header-title">About MN Tech Co Op</h1>
      <p class="header-content">We're a small tech cooperative serving nonprofits
                                and small businesses. <br />Our members are Minnesota
                                freelancers that want to provide high quality work
                                while offering these great institutions of Minnesota
                                a leg up on cost.
      </p>
    </div>
  </section>

  <section class="values-legal-section left-side">
    <div class="values-section-container">
      <div class="header-container">
        <h2 class="values-header header">Core Values</h2>
      </div>
      <ul class="core-value-list list">
        <li class="core-value value-one list-item">
          <h6 class="value-header list-header">We value tech!</h6>
          <p class="value-content list-content">
          At the MN Tech Co op we emphasize using technology to make
          our clients lives easier. We embrace new tech
          and look for ways to integreate it into our services while also
          utilizing the tried and true technolgies that stand
          the test of time.
          </p>
        </li>
        <li class="core-value value-two list-item">
          <h6 class="value-header list-header">We suppport small business and non profits!</h6
          ><p class="value-content list-content">
          In MN our small business and non profits often get priced
          out of accessing technology that will help them sustain and
          grow. With our highly competive pricing model, we are working to change that.
          </p>
        </li>
        <li class="core-value value-three list-item">
          <h6 class="value-header list-header">We embrace the cooperative model!</h6>
          <p class="value-content list-content">
          We want all members of MN Tech Co op to make a profits
          doing what they love, while they do good in the world.
          While we are legally an LLC, we embrace the cooperative
          model - membership, community, trust, and accountability.
          </p>
          </li>
      </ul>
    </div>
      <ul class="legal-stuff values-legal">
        <li class="list-item">
          <h2 class="legal-header header">Legal Stuff</h2>
          <p class="legal-content list-content"><a href="/bylaws" class="bylaws">Bylaws</a></p>
        </li>
    </ul>
  </section>

  <section class="members-section right-side">
    <div class="section-header">
      <h2 class="members-header header">Meet the Members</h2>
    </div>
    <div class="responsive-image-wrap">
      <div class="images-container">
        <div class="responsive-image-container">
          <div class="responsive-image responsive-adrian"></div>
        </div>
        <div class="responsive-image-container">
          <div class="responsive-image responsive-hannah"></div>
        </div>
        <div class="responsive-image-container">
          <div class="responsive-image responsive-jeff"></div>
        </div>
      </div>
    </div>
      <ul class="members-list">
        <li class="member adrian">
          <div class="image-container"></div>
          <div class="member-bio">
            <h6 class="bio-header">
              <p class="member-name">Adrian Flak</p>
              <p class="credentials">Web Development/ Software Engineering/ Application Development</p>
            </h6>
            <p class="bio-content">
              Hey y'all. I've got more than 6 years of experience working with small businesses, nonprofits, and
              enterprises. On the tech side of the equation I have experience creating internal/external web
              applications, websites, and databases using various languages - Java, JavaScript, SQL, NoSQL, HTML,
              and CSS. I currently reside in the capital city of Saint Paul with my lovely wife (she makes amazing
              coffee) and our 2 cats.
            </p>
          </div>
        </li>
        <li class="member hannah">
          <div class="image-container"></div>
          <div class="member-bio">
            <h6 class="bio-header">
              <p class="member-name">Hannah Kamath</p>
              <p class="credentials">Graphic Design/ Web Design/ User Experience/ Branding</p>
            </h6>
            <p class="bio-content">
              Hi, I'm Hannah. I've been working in design since 2013 and with nonprofits since 2011.
              I specialize in elevating engagement through branding and communications. I create meaningful
              experiences through web design, print, and digital publications. I have a passion for design
              work that is sustainable. When I'm not creating beautiful things for you, I
              enjoy gardening, hanging out with my dogs, and a myriad of other hobbies.
            </p>
          </div>
        </li>
        <li class="member jeff">
          <div class="image-container"></div>
          <div class="member-bio">
            <h6 class="bio-header">
              <p class="member-name">Jeffrey Miller</p>
              <p class="credentials">Web Development/ Software Engineering/ Application Development</p>
            </h6>
            <p class="bio-content">
              Good day! Two years ago I decided to change careers. I left the economics field to become
              a full stack developer because working in technology allows me to be many things, namely -
              analytical, creative, and strategic. Over the last 2 years I've learned and put to use
              many skills and technolgies.  I have found my passion and am eager to share it with you.
              Outside of coding, my days are spent with my beautiful family which consists of my
              wife, son, 2 cats, and one smelly puppy.
            </p>
          </div>
        </li>
      </ul>
  </section>
</main>
</div>
