<section id="landing-page">
  <div class="landing-page-wrap">
    <div class="logo-container-landing">
      <img src="/assets/images/mntc_logo_green.png" alt="The logo for Minnesota Tech. It consists
                of the geographical shape of minnesota, painted vibrant green, the the text MN Tech
                 coop inside of it" title="Minnesota Tech Logo"/>
    </div>
    <ul class="navigate-container">
      <li class="navigate-container-left">
          <a href="/home" ng-click="base.setActive('home')">
            <span class="navigate-text" ng-click="base.setActive('home')">I need</span><br />
            <span class="navigate-text large left" ng-click="base.setActive('home')">tech</span>
          </a>
      </li>
      <li class="navigate-container-right">
        <a href="/join" ng-click="base.setActive('join')">
          <span class="navigate-text">I am</span><br /><span class="navigate-text large right">tech</span>
        </a>
      </li>
    </ul>
  </div>
</section>
