<div class="section-header">
    <h2 class="quote-header header">Request A Quote</h2>
  </div>
  <form class="request-form" ng-model="survey">
    <div class="input-container goals-container">
      <label class="goals-label" for="goals">What are the main goals the website should fulfill?
                                            (Ex. The website should elevate the mission by acting
                                            as a resource to learn more about  the community and  community issues,
                                            making it easy to get involved through an event or meeting
                                            and offering opportunities for stakeholders to weigh in.)
</label>
      <textarea class="goals-input" name="goals" ng-model="survey.goals" ></textarea>
    </div>
    <div class="input-container">
      <label class="organization-label" for="organization">Company/Organization</label>
      <input class="organization-input" type="text" name="organization" ng-model="survey.organization" />
    </div>
    <div class="input-container email-container">
      <label class="email-label" for="email">Email</label>
      <input class="email-input" type="email" name="email" ng-model="survey.email" />
    </div>
    <div class="input-container phone-container">
      <label class="phone-label" for="phone">Phone</label>
      <input class="phone-input" type="tel" name="phone" ng-model="survey.phone" />
    </div>

    <div class="input-container submit-button">
      <input type="submit" ng-click="survey.sendSurveyData(survey)"/>
    </div>
  </form>
