/*--------------------------------------------------------------------------------------------
Reset - Thanks Eric Meyer!!
---------------------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	text-decoration: none;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}


/*--------------------------------------------------------------------------------------------
Colors
---------------------------------------------------------------------------------------------*/
:root {
--slate-grey: #333D46;
--vibrant-green: #B1DD01;
--navy: #123855;
--storm-grey: #515961;
--cloud-grey: #C0C5CE;
--white: #f5f5f5;
--dark-grey: #2a2d2a;
}

/*--------------------------------------------------------------------------------------------
Globals
---------------------------------------------------------------------------------------------*/
body {
	font-size: 62.5%;
}

main {
	position: relative;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: var(--vibrant-green) auto 5px;
}

label {
	display: inline-block;
}

#general-page {
	position: fixed;
	min-height: 100vh;
	min-width: 100vw;
}

.global-navbar {
	background-color: var(--white);
	height: 16vh;
	position: relative;
	width: 100vw;
}

.global-navbar nav {
	bottom: 0;
	float: right;
	margin: 3em;
	padding: 2em;
	position: absolute;
	right: 0;
	width: 45vw;
}

.global-navbar nav a {
	border-bottom: solid 2px var(--navy);
	padding: 0 4em 2em 4em;
	transition: 0.25s ease-in;
}

.global-navbar nav a:first-child {
	padding: 0 4em 2em 3em;
}

.global-navbar nav a:last-child {
	padding: 0 3em 2em 4em;
}

.global-navbar nav a:hover,
.global-navbar nav a:focus,
.global-navbar nav a:active
.global-navbar nav a:visited,
.global-navbar nav a.home,
.global-navbar nav a.about,
.global-navbar nav a.services,
.global-navbar nav a.join {
	border-bottom: solid 2px var(--vibrant-green);
}

.nav-link {
	color: var(--dark-grey);
	font-size: 2.25em;
	text-transform: uppercase;
}

.logo-container-global {
	margin-left: 4em;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 13em;
}

.logo-container-global img {
	height: 100%;
	width: 100%;
}

.page-header {
	background-color: var(--slate-grey);
	height: 30vh;
	position: relative;
	text-align: center;
	transition: 0.25s linear all;
	width: 100vw;
}

.page-header.focused {
	transition: 0.25s linear all;
	width: 40vw;
}

.page-header .content-container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

h1.header-title {
	color: var(--vibrant-green);
	text-transform: uppercase;
}

.page-header .header-title {
	font-size: 8em;
}

.page-header.focused .header-title {
	font-size: 6em;
}

.page-header .header-content {
	color: var(--white);
	font-size: 2.25em;
	font-weight: 300;
	letter-spacing: 0.5px;
	line-height: 1.25;
	margin: 0 auto;
	padding-top: 10px;
	width: 50%;
}

.page-header.focused .header-content {
	font-size: 1.88em;
	width: 80%;
}

.left-side {
	background-color: var(--cloud-grey);
	color: var(--navy);
	float: left;
	height: 54vh;
	padding: 1.5em 3em;
	position: relative;
	width: 40vw;
}

.list {
	left: 50%;
	padding: 0 3em;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.header {
	font-size: 2.6em;
	font-weight: 600;
	text-align: left;
	text-transform: uppercase;
}
.left-side .header {
	padding-bottom: 10px;
}

.right-side .header {
	margin-bottom: 10px;
}

.request-form, textarea {
	color: var(--navy);
	font-family: 'Montserrat', sans-serif;
}

.right-side.focused {
	height: 84vh;
	transform: translateY(-30vh);
	transition: 0.25s linear all;
}

.request-form label {
	font-size: 1.25em;
	padding-bottom: 5px;
	text-transform: uppercase;
}

.request-form input, .request-form textarea {
	color: var(--dark-grey);
	font-size: 2em;
	padding: 5px;
	width: 100%;
}

.input-container {
	margin: 0 1em 1.5em 0em;
}


/*--------------------------------------------------------------------------------------------
Fonts
---------------------------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6, span, p, input[type="submit"] {
  font-family: 'Montserrat', sans-serif;

}

/*--------------------------------------------------------------------------------------------
Buttons
---------------------------------------------------------------------------------------------*/
.request-form input[type="submit"] {
	border: none;
	height: 3.35em;
	text-transform: uppercase;
	transition: 0.25s ease-in all;
}

.request-form.ng-invalid-required input[type="submit"] {
	background-color: rgba(192, 197, 206, 0.25);
	color: #a0a8b6;
}

.request-form.ng-valid-required input[type="submit"] {
	background: var(--slate-grey);
	color: var(--vibrant-green);
	cursor: pointer;
}



/*--------------------------------------------------------------------------------------------
Landing Page
---------------------------------------------------------------------------------------------*/
#landing-page {
  background-color: var(--slate-grey);
	left: 0;
	min-height: 100vh;
	min-width: 100vw;
	position: absolute;
	top: 0;
	z-index: 1;
}

.logo-container-landing {
	margin: 3em auto 1em;
	width: 15%;
}

.logo-container-landing img {
	margin-left: 1em;
	max-height: 100%;
	max-width: 100%;
	padding: 5em 0 2em 0;
}

.navigate-container {
	line-height: 1.2;
	width: 100%;
}

.navigate-container-left, .navigate-container-right {
	display: inline-block;
	height: 55vh;
	padding-top: 2em;
	width: 50%;
}

.navigate-container-left {
	border-right: 1px solid var(--vibrant-green);
	float: left;
	padding-right: 7em;
	text-align: right;
}

.navigate-container-right {
	border-left: 1px solid var(--vibrant-green);
	padding-left: 7em;
}

.navigate-text {
	color: var(--vibrant-green);
	font-family: 'Montserrat', sans-serif;
	font-size: 8em;
	font-weight: 400;
	text-transform: uppercase;
}

.navigate-text.large {
	font-size: 12em;
}


/*--------------------------------------------------------------------------------------------
Home Page
---------------------------------------------------------------------------------------------*/

.page-header.home-header {
	height: 41vh;
}

.page-header.home-header .header-title {
	font-size: 10em;
	/*padding: 0.75em 0.75em 0.5em 0.75em;*/
}

.page-header.home-header .header-content {
	font-size: 3.66em;
	letter-spacing: 0.5px;
	padding-top: 10px;
}

li.service {
	display: inline-block;
	height: 43vh;
	width: 33.33%;
}

ul.services-section-list {
	position: relative;
	width: 100vw;
}

li.service.web-design, li.service.apps {
	background-color: var(--cloud-grey);
	color: var(--navy);
	position: relative;
	text-shadow:
		-1px -1px 0 var(--white),
    1px -1px 0 var(--white),
    -1px 1px 0 var(--white),
    1px 1px 0 var(--white);

}

li.service.branding {
	background-color: var(--storm-grey);
	border-left: 2px solid var(--slate-grey);
	border-right: 2px solid var(--slate-grey);
	color: var(--white);
	position: relative;
	text-shadow:
		-1px -1px 0 var(--slate-grey),
		1px -1px 0 var(--slate-grey),
		-1px 1px 0 var(--slate-grey),
		1px 1px 0 var(--slate-grey);
}

li.service.web-design, li.service.apps, li.service.branding {
	position: relative;
}

.service-header {
	cursor: pointer;
	font-size: 3.5em;
	font-weight: 600;
	left: 50%;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 25%;
	transform: translate(-50%, -50%);
	width: 100%;
}

/* SVGs*/
.svg-container {
	height: 43vh;
	margin: 0 auto;
	position: relative;
	width: 12em;
}

svg {
	height: 15em;
	position: absolute;
	top: 37%;
}

.design .pointer {
	display: none;
	transform: scale(0.125) translate(3em, 3em);

}

.design:hover .pointer {
	display: block;
}

/*--------------------------------------------------------------------------------------------
About Page
---------------------------------------------------------------------------------------------*/

/*Left Side*/

.core-values .core-value-list {
	height: 41vh;
	padding: 1em;
}

.core-value-list.list {
	top: 40%;
}

.left-side .list-item {
	line-height: 1.25;
	padding: 1.25em 0;
}

.list-header {
	font-size: 1.6em;
	font-weight: 600;
	text-transform: uppercase;
}

.list-content {
	font-size: 1.6em;
	font-weight: 300;
}

.legal-stuff.values-legal {
	background-color: var(--storm-grey);
	bottom: 0;
	color: var(--white);
	height: 13vh;
	left: 0;
	padding: 1.5em 3em;
	position: absolute;
	width: 100%;
}

.legal-header.header {
	color: var(--cloud-grey);
	padding-bottom: 0;
	text-align: left;
}

a.bylaws {
	color: var(--white);
}

a.bylaws:hover {
	text-decoration: underline;
}

/*Right Side*/

.right-side {
	background-color: white;
	color: var(--navy);
	float: right;
	height: 54vh;
	padding: 1.5em 3em;
	position: absolute;
	right: 0;
	width: 60vw;
	transition: 0.25s linear all;
}

.members-header.header {
	font-size: 4em;
}

.member {
	height: 12em;
	margin: 2em auto;
	position: relative;
	width: 100%;
}

.member .image-container {
	border: 1px solid var(--cloud-grey);
	border-radius: 50%;
	height: 12em;
	width: 12em;
}

.image-container {
	float: left;
	clear: left;
}

.member.jeff .image-container {
	background-image: url("../assets/images/jeff.jpg");
	background-size: cover;
}

.member.adrian .image-container {
	background-image: url("../assets/images/adrian.jpg");
	background-size: cover;
}

.member.hannah .image-container {
	background-image: url("../assets/images/hannah.jpg");
	background-size: cover;
}

.member-bio {
	font-size: 1.4em;
	line-height: 1.35;
	margin: auto;
	right: 3.5vw;
	width: 80%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.member-bio .bio-content {
	font-weight: 300;
}
/*For tiny screens*/
.responsive-image-wrap {
	display: none;
}
.images-container {
	width: fit-content;
}
.responsive-image-container {
	display: inline-block;
}
.responsive-adrian, .responsive-hannah, .responsive-jeff {
	background-size: cover;
}
.responsive-adrian {
	background-image: url("../assets/images/adrian.jpg");
}
.responsive-hannah {
	background-image: url("../assets/images/hannah.jpg");
}
.responsive-jeff {
	background-image: url("../assets/images/jeff.jpg");
}
.responsive-image {
	border-radius: 50%;
	height: 100%;
	width: 100%;
}
/*--------------------------------------------------------------------------------------------
Services Page
---------------------------------------------------------------------------------------------*/
.page-header.focused.services-header .header-title {
	font-size: 5em;
}

.services-list .list-header, .services-list .list-content {
	font-size: 1.9em;
}

.services-list a {
	color: var(--navy);
	transition: 0.15s ease-in;
}

.services-list a:hover {
	text-decoration: underline;
}

/*Right Side - Form*/

textarea.description-input {
	height: 21vh;
}

.right-side.focused textarea.description-input {
	height: 41vh;
}

.request-form .email-container, .request-form .phone-container {
	width: 48%;
}

.input-container.phone-container {
	float: right;
}

.input-container.email-container {
	float: left;
}

.input-container.description-container {
	clear: both;
}

/*--------------------------------------------------------------------------------------------
Join Us Page
---------------------------------------------------------------------------------------------*/
/*left-side*/

/*Right Side*/

.request-form div:first-child {
	margin-top: 0;
}

textarea.info-input {
	height: 14vh;
}

.right-side.focused textarea.info-input {
	height: 34vh;
}

/*--------------------------------------------------------------------------------------------
Bylaws Page
---------------------------------------------------------------------------------------------*/
.bylaws-content {
	font-size: 1.8em;
}

/*--------------------------------------------------------------------------------------------
Footer
---------------------------------------------------------------------------------------------*/
.global-footer {
	bottom: 0;
	background-color: rgba(5, 5, 5, 0.9);
	color: var(--white);
	font-size: 1.3em;
	height: 3.5vh;
	position: absolute;
	width: 100vw;
}

.footer-content-container {
	margin: 1.25vh auto 0;
	width: fit-content;
}

.contact-us {
	text-transform: uppercase;
}

.footer-content-container a {
	color: var(--white);
}

/*--------------------------------------------------------------------------------------------
Media Queries
---------------------------------------------------------------------------------------------*/
/* iPad Pro Landscape */
@media screen and (max-width: 1366px) {
	/*------------- Globals --------------------*/
	.page-header .header-title {
		font-size: 7em;
	}

	.page-header .header-content {
		font-size: 2em;
		width: 55%;
	}

	.page-header.focused .header-title {
		font-size: 3.5em;
	}

	/*------------- Nav Bar --------------------*/
	.navigate-container-left, .navigate-container-right {
		padding-top: 7em;
	}
	.global-navbar nav {
		right:5em;
	}

	/*------------- Home Page --------------------*/
	.page-header.home-header {
		height: 45vh;
	}

	.page-header.home-header .header-title {
		font-size: 7em;
		padding: 0.33em;
	}

	.page-header.home-header .header-content {
		font-size: 3em;
	}

	li.service {
		height: 39vh;
	}
	/*------------- About Page --------------------*/
	.page-header.about-header {
		height: 28vh;
	}

	.values-legal-section.left-side, .members-section.right-side {
		height: 56vh;
	}
	.list-header, .list-content {
		font-size: 1.625em;
	}
	/*.values-header.header {
		padding-bottom: 10px;
	}*/
	.legal-stuff.values-legal {
		height: 14vh;
	}
	.members-section .right-side {
		padding: 1.5em 0 0 0;
	}
	.members-list {
		margin-top: 3em;
	}
	.member .image-container {
		margin-left: 0;
	}
	.member-bio {
		right: 1em;
	}
	.hannah {
		margin: 3.5em auto;
	}
	.request-form .input-container input {
		margin-top: 5px;
	}
	.input-container {
		margin: 1.5em 0;
	}

/*---------------- Services Page ---------------*/
	.page-header.focused.services-header .header-title {
		font-size: 3.5em;
	}

	.services-list .list-header, .services-list .list-content {
		font-size: 1.75em;
	}

	textarea.description-input {
		height: 19vh;
	}

	/*------------- Join Page --------------------*/
	/*.join-section-header {
		margin-bottom: 0.75em;
	}*/
	.join-section .list-content {
		font-size: 1.55em;
	}
	textarea.info-input {
		height: 12vh;
	}
}

/* iPad Pro Portrait */
@media screen and (max-width: 1024px) and (max-height: 1366px) {
/*-------------  Nav/Global --------------------*/
	.global-navbar nav {
		width: auto;
	}
	.logo-container-global {
		width: 16.75em;
	}
	.page-header .header-title {
		font-size: 6em;
	}
	.page-header .header-content {
		font-size: 1.75em;
		width: 63%;
	}
/*-------------- Landing Page ---------------*/
  .landing-page-wrap {
		margin-top: 20%;
	}

/*------------- Home Page --------------------*/
	.page-header.home-header .header-title {
		font-size: 5em;
	}
	.page-header.home-header .header-content {
		font-size: 2.9em;
	}
/*------------- About Page --------------------*/
	.core-value-list.list {
		top: 42%;
	}
	.legal-stuff.values-legal {
		height: 11vh;
	}
	.page-header .header-content {
		max-width: 80vw;
	}
	.service-item .list-content, .service-item .list-header {
		font-size: 1.75em;
	}
	.list-content, .list-header,
	.join-section .list-content, .join-section .list-header {
		font-size: 1.7em;
	}
	.member {
		margin-top: 4.5em auto;
		width: auto;
	}
	.member.jeff {
		margin: 2.75em auto;
	}
	.image-container {
		display: none;
	}
	.member-bio {
		right: unset;
		width: 100%;
	}
	.responsive-image-wrap {
		display: block;
		height: 14em;
		margin-top: 3em;
		width: 100%;
	}
	.responsive-image-container {
		height: 14em;
		width: 14em;
	}
	.responsive-image-container:nth-child(2) {
		margin: 0 4em;
	}

/*------------- Services Page --------------------*/
	.services-header, .join-header {
		height: 28vh;
	}
	.input-container.description-container {
		margin-bottom: 0;
	}
	.description-input {
		height: 21.5vh;
	}
	.services-section.left-side, .quote-section.right-side,
	.join-section.left-side, .join-us-section.right-side {
		height: 56vh;
	}
	.service-item .list-content, .service-item .list-header {
		font-size: 1.825em;
	}
	.request-form textarea {
		height: 29vh;
	}
	.quote-section.focused, .join-us-section.focused {
		transform: translateY(-28vh);
	}
	.right-side.focused textarea.description-input {
		height: 50vh;
	}
/*------------- Join Page --------------------*/
	.info-input {
		height: 11em;
	}
	.join-us-section textarea {
		height: 24vh;
	}
	.right-side.focused textarea.info-input {
		height: 45vh;
	}
	.right-side, .left-side {
		padding: 5px 3em;
	}
}

/* iPad landscape */
@media screen and (max-width: 1024px) and (max-height: 768px){
	/*------------- Nav Bar/Global --------------------*/
	.logo-container-global {
		width: 8.5em;
	}
	.nav-link {
		font-size: 1.75em;
	}
	.page-header {
		padding-top: 0;
	}
	.page-header.focused .header-content {
		font-size: 1em;
	}
	.page-header.focused.services-header .header-title, .page-header.focused .header-title {
		font-size: 2.5em;
	}
	.page-header .header-content, .page-header.focused .header-content {
		width: 66%;
	}
	.request-form .input-container input {
		margin-top: 0;
	}
	.request-form input, .request-form textarea {
		font-size: 1.5em;
	}
	.organization, .address {
		margin-bottom: 0;
	}
	/* --------------Landing Page ---------------*/
	.landing-page-wrap {
		margin-top: unset;
	}
	/*------------- Home Page --------------------*/
	.page-header.home-header {
		padding-top: 2em;
	}
	.page-header.home-header .header-title {
		font-size: 5em;
	}
	.page-header.home-header .header-content {
		font-size: 2.5em;
	}
	.service-header {
		font-size: 3em;
		top: 20%;
	}
	svg {
		height: 9em;
		top: 32%;
	}
	/*------------- About Page --------------------*/
	.content-container {
		padding: 0;
	}
	.page-header .header-title {
		font-size: 6em;
	}
	.header {
		font-size: 2.2em;
	}
	.page-header .header-content {
		font-size: 1.64em;
	}
	.core-value-list.list {
		top: 40%;
	}
	.list-header, .list-content {
		font-size: 1.2em;
	}
	.left-side .list-item {
		padding: 1em 0 0 0;
	}
	.legal-stuff.values-legal {
		height: 12.75vh;
		padding: 5px 3em;
	}
	.members-list {
		margin: 0;
	}
	.members-header.header {
		font-size: 2.75em;
	}
	.member .image-container {
		display: block;
		height: 10em;
		margin-top: 1em;
		right: 0;
		width: 10em;
	}
	.member, .member.jeff {
		margin: 0 auto;
	}
	.member-bio {
		font-size: 1.1em;
		right: 0;
		width: 80%;
	}
	.responsive-image-wrap {
		display: none;
	}
	/*------------- Services Page --------------------*/
	.services-content .page-header .header-title {
		font-size: 6em;
	}
	.service-item .list-content, .service-item .list-header {
		font-size: 1.35em;
	}
	.services-list {
		margin-top: 0;
	}
	.services-list .list-headern .list-content {
		font-size: 1.25em;
	}
	.request-form textarea {
		height: 19vh;
	}
	.right-side.focused textarea.description-input {
			height: 39vh;
	}
	/*----------------Join Page----------------------*/
	.list-content, .list-header,
	.join-section .list-content, .join-section .list-header {
		font-size: 1.275em;
	}
	.join-us-section textarea {
		height:11vh;
	}
  .right-side.focused textarea.info-input{
			height: 30vh;
	}
}
/* iPad portrait */
@media screen and (max-width: 768px) and (max-height: 1024px) {
	/*----------------Nav/Global ------------------------*/
	.logo-container-global {
		width: 10.5em;
	}
	.global-navbar nav {
		right: 0;
	}
	.nav-link {
		font-size: 1.5em;
	}
	.list-content, .list-header, .join-section .list-content, .join-section .list-header {
		font-size: 1.25em;
	}
	.page-header .header-title {
		font-size: 5em;
	}
	.page-header .header-content {
		font-size: 1.45em;
		width: 70%;
	}
	.header {
		font-size: 2.5em;
	}
	.left-side .list-item {
		padding: 1em 0;
	}
	.page-header.focused .header-title {
		font-size: 2.5em;
	}
	.page-header.focused .header-content {
		font-size: 1.25em;
	}
	/*--------------Landing-----------------*/
	.navigate-text {
		font-size: 6em;
	}
	.navigate-text.large {
		font-size: 10em;
	}
	/*-------------- Home -------------*/
	.page-header.home-header .header-title {
		font-size: 4em;
	}
	.page-header.home-header .header-content {
		font-size: 2.5em;
	}
	.service-header {
		font-size: 3em;
	}
	svg {
		height: 12em;
		top: 35%;
	}
	/*------------- About -----------*/
	.legal-stuff.values-legal {
		padding: 0 3em;
	}
	.members-header.header {
		font-size: 3em;
	}
	.members-list {
		margin-top: unset;
	}
	.member {
		margin: unset;
	}
	.member-bio {
		font-size: 1.1em;
	}
	.member.hannah {
		margin: 1em 0;
	}
	.member.jeff {
		margin: unset;
	}
	.responsive-image-wrap {
		height: 10em;
		margin-top: unset;
	}
	.responsive-image-container {
		height: 9em;
		width: 9em;
	}
	.request-form textarea.info-input {
		height: 15vh;
	}
	.right-side.focused textarea.info-input {
		height: 34vh;
	}
	/*------------- Services ------------*/
	.service-item .list-content, .service-item .list-header {
		font-size: 1.35em;
	}
	.request-form textarea.description-input {
		height: 23vh;
	}
	.right-side.focused textarea.description-input {
		height: 21em;
	}
	.page-header.focused.services-header .header-title {
		font-size: 2em;
	}
}
